body{
    background-color: rgb(181, 130, 130);
}
h1 {
    font-size: 50px;
    color: #FFFFFF;
    text-shadow: #000000 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #ff50a7 0px 0px 20px, #e979b1 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
    color: rgb(192, 97, 233);
    text-align: center;
}
label{
    font-size: 25px;}
#searchbar{
    display : flex;
    justify-content: center;
}
.search{
    background-color: rgb(141, 3, 3);
    color :white;
    padding: 5px 20px;
    border : none ; 
    border-radius: 5px ;
    cursor : pointer ;
    font-size: 20px;
    transition: background-color:0.3s ease;
}
.search:hover{
    background-color: rgb(124, 12, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}