<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>documents</title>
    <link rel="stylesheet" href="../projet-leopold-djibril-lucien\styles\stations.css">
</head>
<body>
         <form action="devfront">DEV FROND END</form>
         <div class="classe1">
               <P> Dev</P>
            <ul>
                  <li>Javascript</li>
                  <li>Css</li>
                  <li>HTML</li>
                  <li>Java</li>
                  <li>c#</li>
            </ul>
        </div>

        <div>
              <ul>
                <li>Framework</li>
                <li>Framework</li>
                <li>Framework</li>
              </ul>
        </div>
 
        <div>
            <li>Boostrap</li>
            <li>Foundation</li>
            <li>less</li>
            <li>sass</li>
        </div>

         <div>
            <li>Angular</li>
            <li>Angular.js</li>
            <li>Ember.js</li>
            <li>React.js</li>
            <li>JSF/Jakarta faces</li>
            <li>Vue.js</li>
            <li>Svelte</li>
            <li>Backbone.js</li>
            <li>Vanilla.js</li>
         </div>

          <div>
                  <p>Design</p>
                      <ul>
                        <li>UX/Ui designer</li>
                      </ul>
          </div>

          <div>
            <li>Wireframes</li>
          </div>

          <div>
            <li>Figma</li>
            <li>Adobe XD</li>
            <li>Balsamiq</li>
            <li>Invision</li>
          </div>






















</body>


























</html>










