<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Carte des technologies</title>
   <link rel="stylesheet" href="../styles/main.css">
</head>
    <body>
       <!-- Description respective des langages de  DEV FROND END- DEV utilisés -->
       <article class="artcart">
       <div class="cart">
               <div class="pretite"><strong>Javascript </strong></div>      
                    <div class="contenair"> Description :</div>
                         <h3 class="definition">
                         <p>
                            Le javascript est un langage de programmation utilisé par les développeurs pour concevoir des sites web.
                              Il a été créer en 1995 par Brendan Eich pour le compte de la Netscape Communications Corporation .
                              il a aussi été intégré par microsoft dans son navigateur avec quelques différences techniques ,
                              en le nommant Jscript pour sa propre version de Jvascript utilisé dans Internet Explorer . Concernant sa standardisation
                              Netscape Communications Corporation l'a soumit à Ecma International.
                         </p>
                               <span class="picto"></span>
       </div>
       </article>
       
       <article class="artcart">
       <div class="cart">
               <div class="pretite"><strong> Css </strong></div>      
                    <div class="contenair"> Description :</div>
                         <h3 class="definition">
                         <p>
                             Le css(Casting steel sheets) est un langage de feuille de style utilisé pour décrire la présentation d'un document écrit en HTML
                             ou en XML . En d'autres termes , il gère l'apparence en personnalisant  des intrefaces afin de rendre un site plus esthétique , 
                             il permet aussi d'ajuster l'affichage sur mobile , tablette ou ordinateur grâce au responsive design 
                             qui ermet de modifier la mise en page d'un site afin que le contenu s'adapte à l'écran quel que soit le terminal utilisé.
                             il a été développé par CSS Working Group (en), Bert Bos, Håkon Wium Lie le 17 décembre 1996 .
                         </p>
                               <span class="picto"></span>
       </div>
       </article>
       
       <article class="artcart">
       <div class="cart">
               <div class="pretite"><strong> Html </strong></div>      
                    <div class="contenair"> Description :</div>
                         <h3 class="definition">
                         <p>
                             L'Html ( HyperText Markup) est un langage de base utiliser pour structurer le contenu d'une page web
                              (titres, paragraphes, listes, tableaux, images, vidéos, etc), il a été créer  en 1989 par Tim Berners-Lee .
                              L'html peut être vu comme le squelette d'une page web car il sert de base au CSS et JavaScript.En Html en utlise des balises 
                              afin d'écrire par exemple de mettre en forme un texte et bien plus en encore , concernant les balises on peut citer la balise 
                                h1 qui permet d'écrire des titres dans une page web .
                         </p>
                               <span class="picto"></span>
       </div>
       </article>

        <article class="artcart">
       <div class="cart">
               <div class="pretite"><strong> Java </strong></div>      
                    <div class="contenair"> Description :</div>
                         <h3 class="definition">
                         <p>
                            Le Java est un langage de programmation extrêmement polyvalent , il peut être utilisé pour programmer des logiciels et des applications 
                             pour de nombreux systèmes d'exploitation et appareils différents, y compris les objets connectés, les téléphones mobiles et les ordinateurs.
                             java a été conçu James Gosling en 1995  pour éviter les erreurs critiques et les failles de sécurité. Ne  pas confondre Java avec JavaScript ! 
                             Même si leurs noms se ressemblent ,Java est utilisé pour des applications complexes, souvent côté serveur ou mobile. Alors que 
                             JavaScript est utilisé pour rendre les pages web interactives, côté navigateur. Java est utilisé pour la conception des jeux comme Minecraft, 
                             des applications Android, des logiciels d’entreprise, et même des systèmes embarqués . 
                         </p>
                               <span class="picto"></span>
       </div>
       </article>

     <article class="artcart">
       <div class="cart">
               <div class="pretite"><strong> C#("c sharp") </strong></div>      
                    <div class="contenair"> Description :</div>
                         <h3 class="definition">
                         <p>
                            Elm est un langage de programmation fonctionnel conçu pour créer des interfaces web fiables, rapides et sans erreurs. 
                            Il compile en JavaScript et est particulièrement apprécié pour sa simplicité et sa robustesse. Il a été créer 
                            en 2012 par Evan Czaplicki . Ce qui rend l'Eml spécial c'est sa particularité à garantir qu’aucune erreur ne se produise 
                            à l’exécution d'un programme (ex. undefined is not a function).


                        </p>
                               <span class="picto"></span>
       </div>
     </article>

     <article class="artcart">
       <div class="cart">
               <div class="pretite"><strong> Eml</strong></div>      
                    <div class="contenair"> Description :</div>
                         <h3 class="definition">
                         <p>
                            L'Elm  est un langage de programmation fonctionnel conçu pour créer des interfaces web fiables, rapides et sans erreurs, 
                            Il compile en JavaScript et est particulièrement apprécié pour sa simplicité et sa robustesse. Il a été - Créé en 2012 par Evan Czaplicki ,
                            ce qui rend ce langage unique c'est qu'il n'y a pas d’erreurs à l’exécution d'un programme , car 
                            Elm garantit qu’aucune erreur ne se produira dans le navigateur (ex. undefined is not a function).
                         </p>
                               <span class="picto"></span>
       </div>
       </article>   
   
    </body>
</html>





