<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Carte des technologies</title>
    <link rel="stylesheet" href="..\styles\stations.css">
</head>
<body>
       <div>
             <h1 class="entete"><strong>Javascript</strong></h1>
       
             <h3 class="avant-titre"> Description :</h3>
             <p class="text">
                  Le javascript est un langage de programmation utilisé par les développeurs pour concevoir des sites web.
                  Il a été créer en 1995 par Brendan Eich pour le compte de la Netscape Communications Corporation .
                   il a aussi été intégré par microsoft dans son navigateur avec quelques différences techniques ,
                  en le nommant Jscript pour sa propre version de Jvascript utilisé dans Internet Explorer . Concernant sa standardisation
                  Netscape Communications Corporation l'a soumit à Ecma International.
             </p>
       </div>
</body>
</html>
